{% load static %}
<html>
  <head>
    <title>how to make a website </title>
    <link rel="stylesheet" href='{% static "home.css"%}'>
  </head>
  <body>
    <div class="banner">
      <div class="navbar">
        
        
        <ul>  
          <div style="white-space: nowrap;">
          <li><a  href="homescreen">home screen</a></li>
          <li><a  href="mappingscreen">mapping screen</a></li>
          <li><a  href="sqlscrappingmapping">sql scrapping mapping</a></li>
          <li><a  href="lineagepushscreen">lineage push screen</a></li>
        
        </ul>
        
        

    </div>
    

  
    <div class="content">
      <div class="content  " style="background-color: aqua;">
    <h1 style="color: black;">  WELCOME TO THE LINEAGE BUILDER</h1>
    </div></div>
  </body>
  </html>
